name: Coding Standard & Static Analysis

on:
  workflow_call:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  cs-stan:
    name: Coding Standard & Static Analysis
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, intl
        coverage: none
        tools: phpstan:2, cs2pr

    - name: Composer Install
      run: composer require cakephp/cakephp-codesniffer:^5.3

    - name: Run phpcs
      run: vendor/bin/phpcs -s --report=checkstyle --standard=CakePHP src/ tests/ | cs2pr

    - name: Run phpstan
      if: always()
      run: phpstan analyse
