name: Testsuite without DB

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  testsuite-linux:
    runs-on: ubuntu-24.04
    continue-on-error: ${{ matrix.unstable }}
    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.2']
        dependencies: ['highest']
        unstable: [false]
        include:
          - php-version: '8.2'
            dependencies: 'lowest'
            unstable: false
          - php-version: '8.4'
            dependencies: 'highest'
            unstable: false
          - php-version: '8.5'
            dependencies: 'highest'
            unstable: true

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
        extensions: mbstring, intl, pdo_sqlite
        ini-values: zend.assertions=1
        coverage: pcov

    - name: Composer install
      uses: ramsey/composer-install@v3
      with:
        dependency-versions: ${{ matrix.dependencies }}
        composer-options: ${{ matrix.composer-options }}

    - name: Run PHPUnit
      run: |
        if [[ ${{ matrix.php-version }} == '8.2' && ${{ matrix.db-type }} == 'mysql' ]]; then
          vendor/bin/phpunit vendor/bin/phpunit --display-all-issues --fail-on-all-issues --do-not-fail-on-skipped --do-not-fail-on-incomplete  --coverage-clover=coverage.xml
        else
          vendor/bin/phpunit --display-phpunit-deprecations --display-warnings --display-deprecations
        fi

    - name: Code Coverage Report
      if: success() && matrix.php-version == '8.2' && matrix.dependencies == 'highest'
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
